*{
    font-family: "Montserrat", sans-serif;
}

.navbar-brand{
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}
.nav-link{
    padding-right: 3rem;
}
.custom-navbar{
    background-color:#00BFFF;
    font-weight: bolder;
}
.carousel-caption>h5,p{
    color: whitesmoke ;
    font-weight: bolder;
}
 .carousel-item {
      height: 580px; /* Set height of carousel images */
    }
     .carousel-item img {
      height: 100%; /* Set height of carousel images */
    
      object-fit: cover;
    }
    .logo{
        height: 50px;
        width: 50px;
        background-color:#00BFFF;
    }
.container{
    margin: 10px;
}
.custom-text{
    color:#2F4F4F ;
}
.contact-container{
    margin: 5px;
    padding: 5px;
}
/* Lime Green:
Electric Blue: #00BFFF
Dark Slate Gray: #2F4F4F
Silver: #C0C0C0 */